@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
}



<div class="row">
    <div class="col-md-3">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@Model.TotalRequests</h3>

                <p>@Html.DisplayNameFor(moddel => Model.TotalRequests)</p>
            </div>
            <div class="icon">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">
               
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.PendingRequests</h3>

                <p>@Html.DisplayNameFor(moddel => Model.PendingRequests)</p>
            </div>
            <div class="icon">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">
                <!--More info <i class="fas fa-arrow-circle-right"></i>-->
            </a>
        </div>

    </div>
    <div class="col-md-3">

        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model.ApprovedRequests</h3>

                <p>@Html.DisplayNameFor(moddel => Model.ApprovedRequests)</p>
            </div>
            <div class="icon">
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">

            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@Model.RejectedRequests</h3>

                <p>@Html.DisplayNameFor(moddel => Model.RejectedRequests)</p>
            </div>
            <div class="icon">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">
            </a>
        </div>
    </div>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="dt" class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Approval status
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName) @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <span class="Badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="Badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="Badge badge-warning">Pending</span>
                }
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id">
                <i class="fa fa-file"></i> Review</a>
            </td>
        </tr>
}
    </tbody>
</table>
