@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-3">
         <div class="card" style="width: 18rem;">
             <div class="card-body text-center">
                 <h1 class="card-title">@Model.TotalRequests</h1>
                 <h5 class="card-text">@Html.DisplayNameFor(moddel => Model.TotalRequests)</h5>
             </div>
         </div>
    </div>
    <div class="col-md-3">
         <div class="card" style="width: 18rem;">
             <div class="card-body text-center">
                 <h1 class="card-title text-warning">@Model.PendingRequests</h1>
                 <h5 class="card-text">@Html.DisplayNameFor(moddel => Model.PendingRequests)</h5>
             </div>
         </div>
    </div>
    <div class="col-md-3">
         <div class="card" style="width: 18rem;">
             <div class="card-body text-center">
                 <h1 class="card-title text-success">@Model.ApprovedRequests</h1>
                 <h5 class="card-text">@Html.DisplayNameFor(moddel => Model.ApprovedRequests)</h5>
             </div>
         </div>
    </div>
    <div class="col-md-3">
         <div class="card" style="width: 18rem;">
             <div class="card-body text-center">
                 <h1 class="card-title text-danger">@Model.RejectedRequests</h1>
                 <h5 class="card-text">@Html.DisplayNameFor(moddel => Model.RejectedRequests)</h5>
             </div>
         </div>
    </div>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="dt" class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Approval status
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName) @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <span class="Badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="Badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="Badge badge-warning">Pending</span>
                }
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id">
                <i class="fa fa-file"></i> Review</a>
            </td>
        </tr>
}
    </tbody>
</table>
